<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Car form</h3>
	</div>
	<div class="panel-body">
		<form ng-submit="save()" name="form" novalidate>
			<div class="row">
				<div class="col-sm-12">
					<!-- field directive example wraps bootsrap elements -->
					<field label="Name" name="name" value="car.name"/>
				</div>
			</div>
			<div class="row" >
				<div class="col-sm-6">
					<div class="form-group">
						<label for="price">Price</label> <input type="number" name="price"
							ng-model="car.price" class="form-control" id="price"
							required="required">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="pyear">Production year</label> <input type="number"
							name="pyear" class="form-control" id="pyear"
							ng-model="car.productionYear" required="required" min="1">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary"
				ng-disabled="form.$invalid">Save</button>

		</form>
	</div>
</div>
