<div class="panel panel-default">
	<a class="btn btn-default pull-right " href="#/examples/operator">Add operator</a>

	<div class="panel-heading">Operators</div>
	<table class="table table-striped">
		<tr>
			<th>No.</th>
			<th>Email</th>
			<th>First name</th>
			<th>Last name</th>
			<th></th>
		</tr>
		<tr ng-repeat="operator in operators">
			<td>{{$index + 1}}</td>
			<td><a href="" ng-href="#/examples/operators/{{operator.id}}"> {{operator.email}}</a></td>
			<td>{{operator.firstName}}</td>
			<td>{{operator.lastName}}</td>
			<td><a href="" ng-click="remove(operator)"
				class="glyphicon glyphicon-trash"></a></td>
		</tr>
	</table>
</div>

