<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Operaotr form</h3>
	</div>
	<div class="panel-body">
		<form ng-submit="save()" name="form" novalidate>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="email">Email</label> <input type="email" name="email"
							ng-model="operator.email" class="form-control" id="email"
							required="required">
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-sm-6">
					<div class="form-group">
						<label for="price">First name</label> <input type="text" name="firstName"
							ng-model="operator.firstName" class="form-control" id="firstName"
							required="required">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Last name</label> <input type="text"
							name="lastName" class="form-control" id="lastName"
							ng-model="operator.lastName" required="required">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary"
				ng-disabled="form.$invalid">Save</button>

		</form>
	</div>
</div>
