<div class="row">
<div class="panel panel-info col-sm-2">
 <div class="panel-heading">Zaplacic rate za samochod</div>
  <div class="panel-body">
   Zaplacic rate za samochod
   Zaplacic rate za samochod
   Zaplacic rate za samochod
  </div>
</div>
<div class="panel panel-info col-sm-2 col-sm-offset-1">
 <div class="panel-heading">Zaplacic rate za samochod</div>
  <div class="panel-body">
   Zaplacic rate za samochod
   Zaplacic rate za samochod
   Zaplacic rate za samochod
  </div>
</div>
<div class="panel panel-info col-sm-2 col-sm-offset-1">
 <div class="panel-heading">Zaplacic rate za samochod</div>
  <div class="panel-body">
   Zaplacic rate za samochod
   Zaplacic rate za samochod
   Zaplacic rate za samochod
  </div>
</div>
<div class="panel panel-info col-sm-2 col-sm-offset-1">
 <div class="panel-heading">Zaplacic rate za samochod</div>
  <div class="panel-body">
   Zaplacic rate za samochod
   Zaplacic rate za samochod
   Zaplacic rate za samochod
  </div>
</div>
</div>
<br/>
<div style=" color: #f8f8f8;">
<h1>4 Note</h1>
<h3>
	Project by <a href="http://www.4programmers.net">4programmers.net</a>
</h3>
</div>